<div class="interactive-wrapper nswMap">
    <div id="outer-wrapper" class="showcase">

			<div class='chartTitle row' id="chartTitle">Distance to public open space in Greater Sydney</div>
			<div class='subTitle row' id="subTitle">Showing the average distance in metres to public open space in each suburb in Greater Sydney. Suburbs with no data are in grey.</div>
			
			<div class="row">
				
				<div class="col80">
					<!-- <div id="keyTitle">Legend</div> -->
					<div id="keyDiv"></div>
				</div>

				<!-- <div class="col20">
					<div id="keyTitle">Total recent cases</div>
					<div id="keyDiv2"></div>
				</div>	 -->

				<div class="col20 areas">
					<div id="keyTitle">Areas</div>
					<div id="keyDiv3"></div>
				</div>	
			</div>

			<!-- <div class="row controls"> -->
				<!-- <div id="zoom2" class="btn">Zoom to NSW</div> -->
				<!-- <div id="toggleCircles" class="btn">Toggle map circles</div> -->
				<!-- <select id="dropdown"></select> -->

				
			<!-- </div>	 -->
			<div class="row chartSans" id="dblogsnswgreenspacesmall">
					
			</div>

			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote">Guardian graphic | Source: Australian Urban Observatory, Guardian Australia.</span>
			</div>	
			
	</div>
</div>